*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 90%;
}



center{
  padding-top: 150px;
  font-size: 20px;
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 1400px;
  }
  center{
    font-size: 40px;
  }
}